@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variable.css";
@import "./common.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  margin-top: 1rem;
}

header,
nav,
.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}

main {
  background: linear-gradient(to right, #fbf5f8, #f2e7fb);
  height: 100%;
  width: 100%;
  padding: 3rem 0 5rem 0;
}

.title-container {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 2.5rem;
    line-height: 50px;
    background: linear-gradient(
      to right,
      var(--blue),
      var(--purple),
      var(--red)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .description {
    font-size: 1.25rem;
    line-height: 30px;
    text-align: center;
    color: var(--dark-gray);
  }
}

.translation-tool {
  background-color: var(--glacier);
  border-radius: 2.5rem;
  padding: 0.5rem;
}

.heading-container {
  padding: 1.5rem;

  .heading-container-title {
    font-size: 1.5rem;
    color: var(--medium-gray);
  }

  .heading-container-actions {
    display: flex;
    gap: 1rem;
  }
}

.translation-container {
  background-color: var(--lighter-gray);
  border-radius: 2.5rem;
  display: flex;
  .left-section-tool,
  .right-section-tool {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    textarea {
      outline: none;
      background-color: inherit;
      border: none;
      resize: none;
      color: var(--medium-gray);
      font-size: 1.25rem;
    }

    .section-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        gap: 0.75rem;
      }
    }
  }
}

.toggle-switch {
  width: 0;
  border: 1px dashed var(--light-gray);
  position: relative;

  .swap-btn {
    position: absolute;
    top: 1rem;
    right: -1.75rem;
  }
}
