@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./styles/variable.css";
@import "./styles/common.css";
@import "./styles/header.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

main {
  background: linear-gradient(to right, #fbf5f8, #f2e7fb);
  height: 100%;
  width: 100%;
  padding: var(--spacing-md) 0 5rem 0;
}

.hero-container {
  padding-bottom: var(--spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);

  .hero-title {
    font-size: var(--font-size-xxl);
    line-height: 30px;
    background: linear-gradient(
      to right,
      var(--color-accent-blue),
      var(--color-accent-purple),
      var(--color-accent-red)
    );
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-description {
    font-size: var(--font-size-md);
    line-height: var(--line-height-sm);
    text-align: center;
    color: var(--color-gray-800);
  }
}

.translation-tool {
  background-color: var(--color-white);
  border-radius: var(--spacing-xxl);
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.heading-container {
  padding-inline: var(--spacing-md);

  .heading-container-title {
    font-size: var(--font-size-lg);
    color: var(--color-gray-800);
  }

  .heading-container-actions {
    display: flex;
    gap: var(--spacing-md);
  }
}

.translation-container {
  background-color: var(--color-gray-100);
  border-radius: var(--spacing-xxl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.translation-input-container,
.translation-output-container {
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 100%;

  textarea {
    outline: none;
    background-color: inherit;
    border: none;
    resize: none;
    color: var(--color-gray-600);
    font-size: var(--font-size-sm);
  }
}

.section-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-sm);

  div {
    display: flex;
    gap: var(--spacing-sm);
  }
}

.toggle-switch {
  height: 0;
  width: 100%;
  border: 1px dashed var(--color-gray-400);
  position: relative;

  .swap-btn {
    position: relative;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Media Queries for responsiveness */

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-inline: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .toggle-switch {
    border: 1px dashed var(--color-gray-400);
    position: relative;
    width: 0;
    height: -webkit-fill-available;
    .swap-btn {
      position: absolute;
      top: 1rem;
      right: -1.75rem;
    }
  }

  .flex-container-between,
  .translation-container,
  .section-actions {
    align-items: center;
    flex-direction: row;
  }

  .translation-tool {
    padding: var(--spacing-xs);
    gap: 0;
  }

  .translation-input-container,
  .translation-output-container {
    padding: var(--spacing-xl);

    textarea {
      font-size: var(--font-size-xl);
    }
  }

  main {
    padding: var(--spacing-xxxl) 0 5rem 0;
  }

  .hero-container {
    gap: var(--spacing-md);
    padding-bottom: var(--spacing-xxxl);

    .hero-title {
      font-size: var(--font-size-xxxl);
      line-height: 50px;
    }
    .hero-description {
      font-size: var(--font-size-xl);
    }
  }

  .heading-container {
    padding: var(--spacing-lg);

    .heading-container-title {
      font-size: var(--font-size-xxl);
    }
  }

  nav.flex-container-between {
    position: relative;
    opacity: 100%;
    width: auto;
  }

  button#toggle-menu {
    display: none;
  }
}

@media (min-width: 1215px) {
  .container {
    max-width: 1440px;
  }
}
