/* Buttons */

.button {
  padding: var(--spacing-xxs) var(--spacing-xs);
  display: inline-flex;
  gap: var(--spacing-xs);
  align-items: center;
  transition: var(--transition-base);
  outline: none;
  border: none;
  border-radius: var(--spacing-xs);
  cursor: pointer;
  font-size: var(--font-size-sm);
  width: max-content;

  &.button-primary {
    background-color: var(--dark-blue);
    color: var(--glacier);
    &:disabled {
      opacity: 60%;
      background-color: var(--disabled-blue);
      cursor: not-allowed;
    }
  }

  &.button-secondary {
    background-color: var(--glacier);
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
  }

  &.button-nav {
    background-color: transparent;
    &::after {
      content: url("/assets/dropdown.svg");
      display: inline-block;
      height: 1.75rem;
    }
  }

  &.button-info {
    background-color: var(--light-purple);
    color: var(--dark-purple);
    font-weight: 500;
  }

  &.button-icon {
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: var(--btn-icon-size-mobile);
    width: var(--btn-icon-size-mobile);
    padding: var(--spacing-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--glacier);
    color: var(--dark-blue);
    transition: var(--transition-base);
    &:hover {
      background-color: var(--light-purple);
    }
  }

  &.button-dropdown,
  &.button-hint {
    border-radius: 9999px;
    background-color: var(--glacier);
  }
}

@media (min-width: 768px) {
  .button {
    padding: 0.625rem var(--spacing-md);
    font-size: var(--font-size-md);
    &.button-icon {
      width: var(--btn-icon-width);
      height: var(--btn-icon-height);
    }
  }
}

/* Tooltip */

.tooltip {
  position: relative;
  transition: var(--transition-base);
  &::before {
    content: attr(data-tip);
    position: absolute;
    padding: 13px;
    background-color: var(--tooltip-background);
    color: var(--glacier);
    border-radius: 0.25rem;
    opacity: 0;
    font-size: var(--font-size-sm);
    font-weight: 500;
    width: max-content;
    max-width: 20rem;
    transform: translate(-50%) translateY(0);
    inset: calc(100% + 0.5rem) auto auto 50%;
  }
  &:hover::before {
    opacity: 100%;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing-md);
  padding-left: var(--spacing-md);
}

/* flexible container classes */

.flex-container-between {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Toast */

.toast {
  padding: var(--spacing-sm);
  border-radius: var(--spacing-xs);
  font-weight: 500;

  &.toast-info {
    color: var(--dark-purple);
    background-color: var(--light-purple);
  }
}
